body {
  margin: 0px;
  background: #FAFAFA;
}
.bodydiv {
  padding: 30px 60px;
  font-size: 18px;
  font-family: arial, helvetica, sans-serif;
}
.headdiv {
  background: #BDBDBD;
  padding: 40px 60px;
  font-size: 32px;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
}
.bodytitlediv {
  padding: 126px 60px 40px 60px;
  font-size: 48px;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
}

@media only screen and (max-width : 768px){
  .bodydiv {
    padding: 15px 30px;
    font-size: 14px;
  }
  .headdiv {
    padding: 20px 30px;
    font-size: 25px;
  }
  .bodytitlediv {
    padding: 91px 30px 20px 30px;
    font-size: 38px;
  }
}
